<form ng-submit='selectModes(modes)'>
  <input type='radio' value='AR'>Alaska Railroad</input></br>
  <input type='radio' value='MG'>Automated Guideway</input></br>
  <input type='radio' value='RB'>Bus Rapid Transit</input></br>
  <input type='radio' value='CC'>Cable Car</input></br>
  <input type='radio' value='CB'>Commuter Bus</input></br>
  <input type='radio' value='CR'>Commuter Rail</input></br>
  <input type='radio' value='DR'>Demand Response</input></br>
  <input type='radio' value='FB'>Ferryboat</input></br>
  <input type='radio' value='HR'>Heavy Rail</input></br>
  <input type='radio' value='IP'>Inclinded Plane</input></br>
  <input type='radio' value='JT'>Jitney</input></br>
  <input type='radio' value='lR'>Light Rail</input></br>
  <input type='radio' value='MB'>Motor Bus</input></br>
  <input type='radio' value='MG'>Monorail</input></br>
  <input type='radio' value='PB'>Publico</input></br>
  <input type='radio' value='SR'>Streetcar</input></br>
  <input type='radio' value='TB'>Trolleybus</input></br>
  <input type='radio' value='TR'>Aerial Tramway</input></br>
  <input type='radio' value='VP'>Vanpool</input></br>
  <input type='radio' value='OR'>Other</input></br>
  <button>Submit</button>
</form>
