<form ng-submit='vehicleMiles(agency)'>
  <input type='text' ng-model='agency.name' placeholder='Enter Full Agency Name'/>
  <button>Submit</button>
</form>



<!-- This section displays the list of agencies from the search -->
<div class='results'>

  <!-- This section displays the Chart from the search -->
  <div class='chart'>
    <h4>{{ agency }}</h4>
  </div>


  <ul>Agency Search Results
    <li ng-repeat="agency in agencies">
      {{ agency.agency }} in {{ agency.region }} operates {{ agency.mode }}
    </li>
  </ul>
</div>
